<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <td>제목</td>
            <td>나라</td>
            <td>작성날짜</td>
        </thead>
        <%
            for(var i = 0; i < Object.keys(results).length; i++){%>
            <tr>
                
                    <td><%=results[i].post_title%></td>
                    <td><%=results[i].post_coun%></td>
                    <td><%=results[i].post_date%></td>
                    <td><a href="/view?postId=<%=Object.keys(results).length-i%>">게시물 보기</a></td>
                
           </tr>
        <%
            }
        %>
        <a href="/">돌아가기</a>
    </table>
</body>
</html>