<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <a href="/post">post</a>
    <a href="/board">board</a>
    <a href="/modify">modify</a>
</body>
</html>