<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    <a href="/post">post</a>
    <a href="/board">board</a>
    <a href="/modify">modify</a>
    <h1>백엔드 구현</h1>
    post, modify 기능은 로그인 후 사용 가능 합니다!<br><br>
    테스트 계정<br>
    id : ts<br>
    password: ts<br>
</body>
</html>